.chart-data {
  width: 100px;
}

svg {
  border: 1px solid black;
}

.user-input {
  display: flex;
  justify-content: space-between;
}

input {
  height: 30px;
}
label {
  line-height: 2;
}
#slider-container {
  width: 1000px;
  position: relative;
  height: 30px;
  background-color: #eeeef5;
}

.axis-label {
  font-size: 20px;
  text-anchor: middle;
}

.close {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.sma {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

table {
  border-collapse: collapse;
  text-align: center;
  font-size: 20px;
}

#table-container {
  display: flex;
  justify-content: space-around;
}

td {
  width: 150px;
  border: 1px solid black;
}

th {
  width: 150px;
  border: 1px solid black;
}
