.chart-data {
  width: 100px;
}

svg {
  border: 1px solid black;
}

#slider-container {
  position: relative;
  height: 30px;
  background-color: #eeeef5;
}

.axis-label {
  font-size: 20px;
  text-anchor: middle;
}

.close {
  fill: none;
  stroke: black;
  stroke-width: 2px;
}

.sma {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
